<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MoneyTracker9000</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%# Use sidebar layout if we're logged in, otherwise main fills whole screen. %>
    <%= if @current_user do %>
      <nav class="sidebar">
        <ul>
          <li><%= active_link @conn, "Budget", to: "#" %></li>
          <li><%= active_link @conn, "All Accounts", to: account_path(@conn, :index) %></li>
          <%= for account <- @current_user.accounts do %>
            <li class="account">
              <%= active_link @conn, account.title, to: account_path(@conn, :show, account.id) %>
            </li>
          <% end %>
          <li><%= link "Investments", to: "#" %></li>
        </ul>
      </nav>
    <% end %>

    <header class="header">
      <span class="logo">
        MoneyTracker9000
      </span>

      <div class="right">
        <ol>
          <%= if @current_user do %>
            <li><%= @current_user.username %></li>
            <li><%= link "Settings", to: "#" %></li>
            <li>
              <%= link "Log out", to: session_path(@conn, :delete, @current_user),
                                  method: "delete" %>
            </li>
          <% else %>
            <li><%= link "Register", to: user_path(@conn, :new) %></li>
            <li><%= link "Log in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>
      </div>
    </header>

    <%= if @current_user do %>
      <main role="main" class="right-main">
        <%= render "alerts.html", assigns %>
        <%= render @view_module, @view_template, assigns %>
      </main>
    <% else %>
      <div id="main-wrapper">
        <main role="main" class="centered-main">
          <%= render "alerts.html", assigns %>
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    <% end %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

