body {
    padding: 0; margin: 0;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    /*line-height: 1.3em;*/
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
 * Main layout
 */
.header {
    /*position: absolute;*/
    /*left: 180px; right: 0;*/
    /*height: 92px;*/
    height: 45px;
    width: 100%;
}
.sidebar {
    position: absolute;
    /*left: 0; top: 0; bottom: 0;*/
    left: 0; top: 44px; bottom: 0;
    width: 180px;
    height: 100%;
}
.right-main {
    position: absolute;
    /*left: 180px; top: 92px; right: 0; bottom: 0;*/
    left: 180px; top: 44px; right: 0; bottom: 0;
}

#main-wrapper {
    clear: both;
    height: auto !important;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}
.centered-main {
    clear: both;
    margin: 0 auto;
    max-width: 80em;
    width: 90%;
}

/*
 * Sidebar
 */
.sidebar {
    font-size: 1.4em;
    padding: 0.2em;
    background-color: #2e4272;
}

/*
.sidebar .bottom-config {
    font-size: 0.4em;
    bottom: 0;
    position: fixed;
    padding: 0.5em;
}
*/

.sidebar, .sidebar a {
    /*color: #FFF0AA;*/
    /*color: #7887AB;*/
    /*color: #D49A6A;*/
    color: #D5DAE7;
}

.sidebar a.active {
    /*color: #FFF0AA;*/
    /*color: #7887AB;*/
    color: #D49A6A;
    /*color: #D5DAE7;*/
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0.3em;
}

.sidebar ul li {
    /*padding: 2em 0 2em 0;*/
    padding: 0.2em 0;
}

.sidebar li.account {
    padding-left: 0.4em;
    font-size: 0.8em;
}
.sidebar li.account .edit {
    font-size: 0.8em;
    padding-left: 0.4em;
    color: #7887AB;
}

/*
 * Header
 */
.header {
    font-size: 1.1em;
    background-color: #061639;
    /*padding: 0.6em;*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    /*margin: 0 auto;*/
}
.header {
    color: #6C7CA3;
}
.header a {
    color: #D5DAE7;
}
.header .right {
    float: right;
    padding: 0.6em;
}
.header ol, .header ol li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header ol {
    padding-right: 0.4em;
}
.header ol li {
    /*padding-left: 0.6em;*/
}
.header li + li:before{
    content: " | ";
    padding: 0 10px;
}

.header .logo {
    /*width: 519px;*/
    /*height: 71px;*/
    /*display: inline-block;*/
    /*margin-bottom: 1em;*/
    /*background-image: url("/images/phoenix.png");*/
    /*background-size: 519px 71px;*/
    /*text-align: center;*/

    font-family: Georgia;
    color: #6C7CA3;
    font-size: 1.8em;
    padding: 0 0.2em;
    margin: 0;
}

/*
 * Main
 */
.right-main {
    padding: 0.5em;
    /*background-color: red;*/
}

/*
 * Colors?
 * http://paletton.com/#uid=33L0u1kllll2NRLc3utuCcdSF35kllll1rWJboviviboWJ1rkllll1rWJboviviboWJ1r
 */

/*
 * Account view
 */
nav.transaction-header ol, nav.transaction-header ol li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.transaction-header ol li {
    padding-right: 0.4em;
}

/*
 * Budget view
 */
tr.budgeted-group {
    /*background-color: #FFF0AA;*/
    /*background-color: #7887AB;*/
    background-color: #D5DAE7;
    /*background-color: #D49A6A;*/
}
tr.budgeted-category {

}

