body {
    padding: 0; margin: 0;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    /*line-height: 1.3em;*/
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*
 * Main layout
 */
.header {
    /*position: absolute;*/
    /*left: 180px; right: 0;*/
    /*height: 92px;*/
    height: 45px;
    width: 100%;
}
.sidebar {
    position: absolute;
    /*left: 0; top: 0; bottom: 0;*/
    left: 0; top: 44px; bottom: 0;
    width: 180px;
    /*height: 100%;*/
}
.right-main {
    padding: 0.5em;
    position: absolute;
    /*left: 180px; top: 92px; right: 0; bottom: 0;*/
    left: 180px; top: 44px; right: 0; bottom: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#main-wrapper {
    clear: both;
    height: auto !important;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}
.centered-main {
    clear: both;
    margin: 0 auto;
    max-width: 80em;
    width: 90%;
}

/*
 * Sidebar
 */
.sidebar {
    font-size: 1.4em;
    padding: 0.2em;
    background-color: #2e4272;
}

/*
.sidebar .bottom-config {
    font-size: 0.4em;
    bottom: 0;
    position: fixed;
    padding: 0.5em;
}
*/

.sidebar, .sidebar a {
    /*color: #FFF0AA;*/
    /*color: #7887AB;*/
    /*color: #D49A6A;*/
    color: #D5DAE7;
}

.sidebar a.active {
    /*color: #FFF0AA;*/
    /*color: #7887AB;*/
    color: #D49A6A;
    /*color: #D5DAE7;*/
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0.3em;
}

.sidebar ul li {
    /*padding: 2em 0 2em 0;*/
    padding: 0.2em 0;
}

.sidebar li.account {
    padding-left: 0.4em;
    font-size: 0.8em;
}
.sidebar li .extra {
    font-size: 0.8em;
    padding-left: 0.4em;
    color: #7887AB;
}

/*
 * Header
 */
.header {
    font-size: 1.1em;
    background-color: #061639;
    /*padding: 0.6em;*/
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    /*margin: 0 auto;*/
}
.header {
    color: #6C7CA3;
}
.header a {
    color: #D5DAE7;
}
.header .right {
    float: right;
    padding: 0.6em;
}
.header ol, .header ol li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header ol {
    padding-right: 0.4em;
}
.header ol li {
    /*padding-left: 0.6em;*/
}
.header li + li:before{
    content: " | ";
    padding: 0 10px;
}

.header .logo {
    /*width: 519px;*/
    /*height: 71px;*/
    /*display: inline-block;*/
    /*margin-bottom: 1em;*/
    /*background-image: url("/images/phoenix.png");*/
    /*background-size: 519px 71px;*/
    /*text-align: center;*/

    font-family: Georgia;
    color: #6C7CA3;
    font-size: 1.8em;
    padding: 0 0.2em;
    margin: 0;
}

/*
 * Colors?
 * http://paletton.com/#uid=33L0u1kllll2NRLc3utuCcdSF35kllll1rWJboviviboWJ1rkllll1rWJboviviboWJ1r
 */

/*
 * Grid
 */
.grid {
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.grid-header {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}
.grid-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    flex: 1;
}
.grid-header-cell {
    flex: 1;
    font-weight: bold;
    line-height: 1.42857;
    padding: 8px;
}
.grid-row {
    width: 100%;
    display: flex;
}
.grid-cell {
    flex: 1;
    line-height: 1.42857;
    padding: 8px;
}
.grid-row > .grid-cell {
    border-top: 1px solid #ddd;
    vertical-align: top;
}

/*
 * Common navigation
 */
#budget-header nav ol,
#budget-header nav ol li,
#transaction-header nav ol,
#transaction-header nav ol li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*width: 100%;*/
}

#budget-header nav ol li,
#transaction-header nav ol li {
    padding-right: 0.4em;
}
#budget-header a, form#delete-selected input
{
    color: #19599E;
}

/*
 * Account view
 */
.grid-account-id, .grid-transaction-id { display: none; }

.grid-transaction-cb,
.grid-transaction-cleared { flex: 0; }
.grid-transaction-payee { flex: 2; }
.grid-transaction-category { flex: 2; }
.grid-transaction-description { flex: 2; }

.grid-transaction-buttons { display: none; }

.hidden { display: none; }

.grid-row.transaction.in-edit input {
    width: 100%;
}

.grid-row.transaction.checked {
    /*background-color: tomato;*/
    background-color: #90C3D4;
}

#transactions {
    height: 100%;
}

/*
 * Budget view
 */
.grid-row.budgeted-group { background-color: #D5DAE7; }
.grid-row.budgeted-category { }
.grid-budget-cb { flex: 0; }
.grid-budget-category {
    flex: 2;
}
.grid-row.budgeted-category .grid-budget-category,
.grid-header .grid-budget-category {
    padding-left: 1.5em;
}
.grid-budget-arrow {
    padding: 0.59em 0;
    cursor: pointer;
}

.grid-row.budgeted-category.checked {
    background-color: #90C3D4;
}

#main-budget {
    overflow: auto;
    display: flex;
    flex-direction: row;
    min-height: 100%;
}
#budget {
    flex: 3;
}

#create-category-group {
    padding: 0;
    margin: 0;
}
.hidden {
    display: none;
}

#budget-info {
    background-color: #7887AB;
    overflow: auto;
    flex: 1;
    padding: 10px;
    color: white;
    height: 100%;
}

#budget-info form {
    margin: 0;
    padding: 0;
}

form#delete-selected {
    margin: 0;
    padding: 0;
}
form#delete-selected input {
    background: none!important;
    border: none;
    font: inherit;
    padding: 0;
    margin: 0;
}
form#delete-selected input:hover {
    text-decoration: underline;
}


/*
form#delete-category {
    margin: 0;
}
#delete-category input {
    background: none!important;
    color: inherit;
    border: none;
    font: inherit;
    padding: 0;
    margin: 0;
}
#delete-category input:hover {
    text-decoration: underline;
}
*/

#budget-info .category {
    font-size: 1.8em;
    border-bottom: 1px solid #dee3e8;
}

#budget-info .category .right {
    float: right;
    font-size: 0.6em;
}
#budget-info .category .right a {
    color: white;
}
/*
#budget-info .category .edit-category {
    float: right;
    font-size: 0.8em;
}
a.edit-category {
    color: white;
}
*/

#budget-info .money-info {
    border-bottom: 1px solid #dee3e8;
    display: grid;
}
#budget-info .money-row {
}
#budget-info .money-row .amount,
#budget-info .available-money .amount {
    float: right;
}

#budget-info .upcoming {
    /*background-color: tomato;*/
    padding: 0.4em;
}

#budget-info .quick-budget {
    margin-top: 0.8em;
}
#budget-info .quick-budget .title {
    font-size: 1.6em;
}
#budget-info .quick-budget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#budget-info .quick-budget li a {
    color: white;
}


/*
 * Flexible new transaction form.
 */
#new-transaction {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
}
#new-transaction > .transaction-date {
    min-width: 7em;
}
#new-transaction > .transaction-date,
#new-transaction > .transaction-button {
    flex: 0;
}
#new-transaction > .transaction-payee,
#new-transaction > .transaction-category,
#new-transaction > .transaction-amount {
    flex: 1;
}
#new-transaction > .transaction-descr {
    flex: 2;
}
#new-transaction > div > input {
    width: 100%;
}
/* Override awesomplete css destroying the layout */
#new-transaction .awesomplete,
#new-transaction .awesomplete > input {
    display: inline;
    width: 100%;
}

#tmp-footer {
    height: 150px;
    width: 100%;
    background: tomato;
}

/*
 * Awesomplete suggestion.
 * Works with awesomplete util.
 */
/*
div.awesomplete {display: none}
div.awesomplete ul li p {display: block; font-size: small; margin-left: 1em}
div.awesomplete .awe-found {border: 2px solid green}
.hide-not-found div.awesomplete .awe-not-found {border-color: lightblue}
div.awesomplete .awe-not-found {border: 2px solid red}

/*
 * Kill the spin buttons for number fields!
 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.edit-dropdown-content {
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #f9f9f9;
    min-width: 4em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .edit-dropdown-content {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    left: 3em;
    top: -0.1em;
    z-index: 9999;
    background-color: #f9f9f9;
    min-width: 4em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 4px;
}
.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
}

